<template>
    <div>
        <!-- <form method="POST" enctype="multipart/form-data">
        <label>Import excel file</label>
        <input ref="file" type="file" v-on:change="handleFiles()" class="form-control" name="email_file">
        <button class="btn btn-success btn-block" @click.prevent="startUpload()">Upload file</button>
        </form> -->
        <fileupload target="/upload_email" action="POST" v-on:finish="finishUpload"></fileupload>

    </div>
</template>

<script>
import FileUpload from 'vue-simple-upload/dist/FileUpload'

export default {
    components: {
    'fileupload': FileUpload
  },
  methods: {
    startUpload(e) {
      // file upload start event
      console.log(e);
    },
    finishUpload(e) {
      // file upload finish event
      
      console.log(e.target.response);
      this.$eventBus.$emit('emailsData', { emails: e.target.response});
    },
    progress(e) {
      // file upload progress
      // returns false if progress is not computable
      console.log(e);
    }
  }
}
</script>
